* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

nav {
  /* background-color: rgb(0, 0, 0); */
  height: 6rem;
  width: 100%;
}

ul {
  position: absolute;
  overflow: hidden;
  /* background-color: antiquewhite; */
  right: 5rem;
  padding: 18px;
  list-style: none;
}

li {
  float: right;
  position: relative;
  top: 10px;
}

li a {
  text-decoration: none;
  /* display: block; */
  font-weight: bold;
  font-size: 25px;
  margin-right: 1rem;
  color: black;
  padding: 0.3rem;
}

li a:hover {
  color: aqua;
}

.navtitle {
  float: left;
  margin-top: 30px;
  margin-left: 1.5rem;
}

.navtitle a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.navtitle a:hover {
  color: aqua;

}

/* .hero { 
height: 350px;
display: flex;
padding: 20px;
margin: 0 auto;
margin-top: 5%;
background-color: #79D1C3;  
}

.hero .box{
  margin-top: 3%;
  margin: 1em;
  border-radius: 10px;
  height: auto 0 ;
  background-color: rgb(238, 26, 26);
} */

.hero .text {
  flex-grow: 2;
  width: 20%;
  height: 470px;
  background-color: #6C7A89;
}

.hero .image {
  background-color: #6C7A89;
  flex-grow: 1;
  width: 10%;
  height: 470px;
}

.hero .texttitle {
  position: relative;
  left: 7rem;
  font-size: 70px;
  width: 45rem;
}

.hero .text p {
  margin-top: 2rem;
  line-height: 1.6;
  margin-left: 7rem;
  letter-spacing: 2px;
}